@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
:root {
    /* --primary: #08aeea; */
    --secondary: #13d2b8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
}

.products {
    padding: 14rem 4rem 4rem;
    max-width: 1400px;
    margin: 0 auto;
}

.notes-container {
    /* display: flex;
    justify-content: row; 
    margin-bottom: 4rem; */
    min-width: 70%;
    padding: 1rem;
}
.product-col {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    padding: 0 10px;
}
.card {
    cursor: pointer;
    max-width: 285px;
    height: 265px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 25px;
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.07, 0.79, 0.18, 0.92);
    position: relative;
    background-color: powderblue;
}
.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 4px 4px 0 0;
    background-color: #ff414d;
    transform: scaleX(0);
    transition: transform 1s cubic-bezier(0.06, 1.05, 0.24, 0.97);
    transform-origin: 0;
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.08);
}
/* .card:active {
    transform: scale(2, 2.5);
} */

.card:hover .card__inner--icon {
    display: block;
}

.card:hover::before {
    transform: scaleX(1);
}
.card .card__inner h5 {
    margin-top: 5px;
    margin-right: 10px;
    color: #ff414d;
    font-size: 16px;
    text-align: right;
    font-weight: 600;
}
.card .card__inner h3 {
    font-size: 28px;
    margin-bottom: 20px;
    font-weight: 600;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    
    display: -webkit-box;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 2;
}
.card .card__inner p {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;


    overflow: hidden;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 2;
}

.card__inner--icon {
    display: none;
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.button--icon:hover {
    /* background-color: pink ; */
    border: red 1px solid !important;
}
