.search {
    width: 300px; 
    height: 30px;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
}
.search__input {
    width: 100%;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    outline: green;
}

.search__input:focus { 
    outline: pink;
}


.search__button:hover {
    background-color: rgb(119, 119, 182);
}
