*{
  /* font-family: 'Kanit', sans-serif; */
  font-family: 'Redressed', cursive;
  /* font-size: 62.5%; */
}


.App {
  text-align: center;
}


.App-header {
  background-color: pink;
  height: 10vh;
  position: relative;
  justify-content: center;
  font-size: 2.7rem;
  font-weight:900px;
  letter-spacing: 10px;
}
.header__title { 
  color: white;
  line-height: 10vh;
}


.App-link {
  color: #61dafb;
}

.App-content {
  min-height: 90vh;
  width: 100%;
  display: flex;
  /* flex-direction: row;
  justify-content: center; */
  background-size: cover;
  background-position: center;
  background-image:linear-gradient(to right, rgba(0, 0, 0, 0.1),  rgba(0,0,0,0.01)), url('https://scontent.fhan12-1.fna.fbcdn.net/v/t1.0-9/131581408_806163723448904_2263520883866566103_o.jpg?_nc_cat=109&ccb=2&_nc_sid=825194&_nc_ohc=7l9rrWnqHhcAX8X0LL6&_nc_ht=scontent.fhan12-1.fna&oh=6232647a1a45f9705df6aee25dbe34aa&oe=600E1D19');
}

.sidebar {
  /* background-color: #eef1f5; */
  /* background-image: url(./img/sidebarBG.png); */
  display: block;
  /* width: 30%;  */
  min-width: 30%;
  background-size: cover;
  background-position:center;
  /* background-color:rgba(238, 88, 213, 0.4) */
  /* background-color:powderblue; */
}

.content {
  width: 70%;
}


.App-footer {
  background-color:  rgb(116, 150, 179);
  height: 5vh;
  justify-content: center;
  font-size: calc(1px + 2vmin);
}
.footer-item {
  color: white;
  line-height:5vh ;
}

.title-content {
  display: flex;
  margin-top: 10px;
}

.title-menu {
  color:rgb(250, 34, 34);
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
