.App {
  text-align: center;
}


.App-header {
  background-color: rgb(116, 150, 179);
  height: 10vh;
  position: relative;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.header__title { 
  color: white;
  line-height: 10vh;
}


.App-link {
  color: #61dafb;
}

.App-content {
  min-height: 90vh;
  width: 100%;
  display: flex;
  /* flex-direction: row;
  justify-content: center; */
}

.sidebar {
  background-color: #eef1f5;
  display: block;
  width: 30%; 
}


.App-footer {
  background-color:  rgb(116, 150, 179);
  height: 5vh;
  justify-content: center;
  font-size: calc(1px + 2vmin);
}
.footer-item {
  color: white;
  line-height:5vh ;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
